# version with git hash added - created as part of release process
version_git.txt
# editor files
\#*
*~
# temp files
nohup.out
##
## cache dirs
##
#internal file osx
.DS_Store
# blast DB
blast/
# Blast DB files
*.ndb
*.nhr
*.nin
*.not
*.nsq
*.ntf
*.nto
# SLuRM files
logs/
log.*
# conda environments
conda/
# downloaded fasta
fasta_new_vmr_*/
# intermediate files
fixed_vmr_*.tsv
processed_proteins.tsv
processed_accessions_*.fa_names.tsv
processed_accessions_*.tsv
fasta_new_vmr_*.faa
fasta_new_vmr_*.fna
# test directories
test_out/
